<div class="progress" data-toggle="tooltip" data-placement="top" title="Potřebná částka: {{goal.amount}} Kč" style="width: {{barWidth}}%">
  <div class="progress-bar {{type}}" style="width: {{percent}}%">
    <span>
      {{fa-icon goal.icon}} - {{goal.name}}
      - <strong>{{percent}}%</strong>
    </span>
  </div>
</div>
